
#wrapper {
    width: 960px;
    background-image: -webkit-linear-gradient(top, #fffefe 0%, #474747 100%);
    background-image: -moz-linear-gradient(top, #fffefe 0%, #474747 100%);
    background-image: -ms-linear-gradient(top, #fffefe 0%, #474747 100%);
    background-image: -o-linear-gradient(top, #fffefe 0%, #474747 100%);
    background-image: linear-gradient(top, #fffefe 0%, #474747 100%);
}

#top {
    height: 130px;
    line-height: 130px;
    background-color: black;
}

#logo {
    height: 130px;
}

#banner {
    background-image: url("../../../Midterm/docs/images/header.png");
    background-size: cover;
    height: 367px;
    position: relative;
}

#banner h1 {
    position: relative;
    top: 62px;
    left: 265px;
}

#panel1, #panel2, #panel3 {
    width: 320px;
}

#panelBanner1 {
    background-image: url("../../../Midterm/docs/images/bean.png");
    background-size: cover;
    width: 316px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner2 {
    background-image: url("../../../Midterm/docs/images/mushy.png");
    background-size: cover;
    width: 316px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner3 {
    background-image: url("../../../Midterm/docs/images/king.png");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner4 {
    background-image: url("../../../Midterm/docs/images/pt1.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner5 {
    background-image: url("../../../Midterm/docs/images/pt2.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner6 {
    background-image: url("../../../Midterm/docs/images/pt3.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner7 {
    background-image: url("../../../Midterm/docs/images/pt4.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner8 {
    background-image: url("../../../Midterm/docs/images/pt5.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#panelBanner9 {
    background-image: url("../../../Midterm/docs/images/pt6.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#content {
    padding-top: 31px;
    padding-left: 31px;
    width: 640px;
}

#circle {
    width: 200px;
    height: 200px;
    background-image: url("../../../Midterm/docs/images/nicky.jpg");
    border-radius: 100px/ 50px;
}

#comicPanel {
    width: 316px;
}

#footer {
    height: 100px;
    line-height: 100px;
    background-color: rgb(89, 89, 89);
    font-palette: black;
}

.fancy {
    color: #efefef;
    -webkit-text-stroke: 1px #000000;
}

.topMargin {
    margin-top: 31px;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.clearMargin {
    margin: 0px;
}

.marginRight {
    margin-right: 0px;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.wrapperPaddingRight {
    padding-right: 31px;
}

.paddingTop {
    padding-top: 31px;
}

.paddingLeft {
    padding-left: 31px;
}

.clearPadding {
    padding: 0px;
}

.grSmall {
    width: 329px;
}

.grBig {
    width: 600px;
}

.displayInLine {
    display: inline;
}

.floatLeft {
    float: left;
}

.clearFix {
    clear: both;
}

.panelHeading {
    margin-left: 31px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.panelMargin {
    margin-left: 62px;
    margin-right: 31px;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.header-link {
    color: white;
}